.workbench { 
    background: url('./workbench-bg.png');
    width: 100%;
    height: 100%;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.modal-dialog {
    top:50% !important;
    margin-top: -54 !important;
    height: 108px;
}